.centerBar{
    display: flex;
    justify-content: space-around;
    width: 260px;
    margin: auto;
    left: 0;
    right: 0;
}

.centerBar > *{
    display: flex;
    align-items: center;
    gap: 5px;
}
.centerBar .marker{
    cursor: default;
}