<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница занята</title>
    <link rel="stylesheet" href="css/allPagesMainStyle.css">
</head>
<body>
    <div class="myRow" style="justify-content: center;">
        <div class="myColumn" style="width: 250px; align-items: center">
            <br>
            <br>
            <div class="myRow"><h1 >Страница занята</h1></div>
            <div class="myRow">
                <p style="word-break: break-word; text-indent: 1.5em; text-align: justify">Сейчас другой администратор работает с данной страницей.</p>
                <p style="word-break: break-word; text-indent: 1.5em; margin-top: 0px; text-align: justify">Пожалуйста, вернитесь на прошлую страницу и дождитесь окончания его работ, или принудительно отключите его от работ на данной странице.</p>
            </div>
            <div class="myRow">
                <p><a href="/main">На главную</a></p>
                <p><a href="/addingForced">Отключить пользователя</a></p>
            </div>


        </div>
    </div>
</body>
</html>