<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<h1 >Вход</h1>
<form action="/login" th:object="${user}" method="POST" enctype="utf8">

    <div>
        <label>Логин</label>
        <input th:field="*{login}" required/>
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" th:field="*{password}" required/>
    </div>

    <button type="submit">Войти</button>
</form>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


</body>
</html>