<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Превышено время ожидания действия</title>
    <link rel="stylesheet" href="css/allPagesMainStyle.css">
</head>
<body>
    <div class="myRow" style="justify-content: center;">
        <div class="myColumn" style="width: 250px; align-items: center">
            <br>
            <br>
            <div class="myRow"><h1 >Превышено время ожидания</h1></div>
            <div class="myRow">
                <p style="word-break: break-word; text-indent: 1.5em; text-align: justify">Вы были неактивны слишком длительное время, поэтому были отключены от страницы редактирования областей контроля.</p>
            </div>
            <div class="myRow">
                <p><a href="/main">На главную</a></p>
                <p><a href="/adding">Продолжить работу</a></p>
            </div>
        </div>
    </div>
</body>
</html>