<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя </title>
</head>
<body>

<h1 >Регистрация</h1>
<form action="/registerUser" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>Имя</label>
        <input th:field="*{name}" required/>

    </div>
    <div>
        <label>Фамилия</label>
        <input th:field="*{surname}" required/>
    </div>
    <div>
        <label>Логин</label>
        <input th:field="*{login}" required/>
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" th:field="*{password}" required/>
    </div>
    <div>
        <label>Повторите пароль</label>
        <input type="password" th:field="*{passwordRepeat}" required/>
    </div>
    <div>
        <label>Права доступа</label>
        <select name="cars" id="cars" th:field="*{role}" required>
            <option value="OPERATOR">OPERATOR</option>
            <option value="ADMIN">ADMIN</option>
        </select>
    </div>
    <button type="submit">Зарегистрировать пользователя</button>
</form>
<br>
<label style="color: red" th:text="${message}"></label>
<br>
<a href="/main">На главную</a>

</body>
</html>